<div th:fragment="sidenav" class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100 text-white">
    <a ht:href="@{/}" class="d-flex align-items-center p-2 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline fw-bold">ASM</span>
    </a>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start">
                    <a th:href="@{/}" class="nav-link align-middle px-0">
                        <i class="fas fa-rocket"></i>  <span class="ms-1 d-none d-sm-inline text-white">Dashboard</span>
                    </a>
                    <a th:href="@{/laptop}" class="nav-link align-middle px-0">
                        <i class="fas fa-laptop"></i>  <span class="ms-1 d-none d-sm-inline text-white">Laptop</span>
                    </a>
                </div>
            </div>
    </nav>

</div>