<form th:fragment="assetForm" class="py-3" th:object="${assetRequestModel}"
      th:action="@{/laptop/}"
      method="post">
    <!--  Asset Name  -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="name">
                Asset Name
            </label>
        </div>

        <div class="col-7">
            <input type="text" class="form-control
"
                   placeholder="Asset Name"
                   th:value="${assetRequestModel.name}"
                   id="name" name="name" th:field="*{name}">

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>
    <!--  Serial  -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="name">
                Serial
            </label>
        </div>

        <div class="col-7">
            <input type="text" class="form-control"
                   placeholder="Serial"
                   th:value="${assetRequestModel.serial}"
                   id="serial" name="serial" th:field="*{serial}">

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('serial')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>
    <!--  Model Selection  -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="modelId">
                Model
            </label>
        </div>

        <div class="col-7">
            <select class="form-select form-select-sm selectpicker w-100" name="modelId" id="modelId"
                    th:field="*{modelId}"
                    data-live-search="true">

                <option th:each="model : ${modelResponseModels}"
                        th:value="${model.modelId}">[[${model.brand}]] [[${model.name}]] [[${model.modelNumber}]]
                </option>
            </select>

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('modelId')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>
    <!--  purchase date   -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="purchaseDate">
                Purchase Date
            </label>
        </div>

        <div class="col-7">
            <input type="date" class="form-control
"
                   placeholder="Purchase Date"
                   th:value="${assetRequestModel.purchaseDate}"
                   id="purchaseDate" name="purchaseDate" th:field="*{purchaseDate}">

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('purchaseDate')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>
    <!--  purchase cost   -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="purchaseCost">
                Purchase Cost (AED)
            </label>
        </div>

        <div class="col-7">
            <input type="text" class="form-control
"
                   placeholder="Purchase Cost"
                   th:value="${assetRequestModel.purchaseCost}"
                   id="purchaseCost" name="purchaseCost" th:field="*{purchaseCost}">

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('purchaseCost')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>
    <!--  Category Selection  -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="categoryId">
                Category
            </label>
        </div>

        <div class="col-7">
            <select class="form-select form-select-sm selectpicker w-100" name="categoryId" id="categoryId"
                    th:field="*{categoryId}"
                    data-live-search="true">

                <option th:each="category : ${categoryResponseModels}"
                        th:value="${category.categoryId}">[[${category.name}]]
                </option>
            </select>

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('modelId')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>

    <!--  Supplier Selection  -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="supplierId">
                Supplier
            </label>
        </div>

        <div class="col-7">
            <select class="form-select form-select-sm selectpicker w-100" name="supplierId" id="supplierId"
                    th:field="*{supplierId}"
                    data-live-search="true">

                <option th:each="supplier : ${supplierResponseModels}"
                        th:value="${supplier.supplierId}">[[${supplier.name}]]
                </option>
            </select>

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('supplierId')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>

    <!--  Employee Selection  -->
    <div class="mb-1 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="id">
                Employee
            </label>
        </div>

        <div class="col-7">
            <select class="form-select form-select-sm selectpicker w-100" name="employeeId" id="employeeId"
                    th:field="*{employeeId}"
                    data-live-search="true">

                <option th:each="employee : ${employeesDto}"
                        th:value="${employee.id}">[[${employee.name}]] - [[${employee.job_title}]]
                </option>
            </select>

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('employeeId')}" th:text="${err}"/>
                </ul>
            </div>
        </div>


    </div>
    <!--   Submit Button -->
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-sm float-end">Save</button>
            <a th:href="@{/laptop}" class="btn btn-secondary btn-sm float-end mx-2">Cancel</a>


        </div>
    </div>

</form>

