<form th:fragment="assetForm" class="py-3" th:object="${assetRequestModel}"
      th:action="@{/laptop/}"
      method="post">

    <div class="mb-2 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="name">
                Asset Name
            </label>
        </div>
        <div class="col-7">
            <input type="text" class="form-control"
                   placeholder="Asset Name"
                   th:value="${assetRequestModel.name}"
                   id="name" name="name" th:field="*{name}">

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}" />
                </ul>
            </div>
        </div>


    </div>

    <div class="mb-2 row align-items-center">
        <div class="col-3">
            <label class="form-label fw-bold float-end" for="name">
                Serial
            </label>
        </div>

        <div class="col-7">
            <input type="text" class="form-control"
                   placeholder="Serial"
                   th:value="${assetRequestModel.serial}"
                   id="serial" name="serial" th:field="*{serial}">

        </div>

        <div class="col-7 offset-3">
            <div class="invalid-feedback d-block">
                <ul>
                    <li th:each="err : ${#fields.errors('serial')}" th:text="${err}" />
                </ul>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-sm float-end">Save</button>
            <a th:href="@{/laptop}" class="btn btn-secondary btn-sm float-end mx-2">Cancel</a>


        </div>
    </div>

</form>